<ion-header>
  <ion-toolbar>
    <ion-title>
      McDonald's
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="limpar()">Limpar</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo">

    <div class="linha">
      <div class="produto">Hotdog</div>
      <div class="mostrador">
        <ion-button (click)="removerHotdog()">-</ion-button>
      <input type="number" [(ngModel)] = quantidadeHotdog  (keyup)="calcularTotalConta()">
     
        <ion-button (click)="adicionarHotdog()">+</ion-button>
      </div>
    </div>

    <div class="linha">
      <div class="produto">Coxinha</div>
      <div class="mostrador">
        <ion-button (click)="removerCoxinha()">-</ion-button>
        <input type="number" [(ngModel)] = quantidadeCoxinha  (keyup)="calcularTotalConta()">
        <ion-button (click)="adicionarCoxinha()">+</ion-button>
      </div>
    </div>

    <div class="linha">
      <div class="produto">Bala</div>
      <div class="mostrador">
        <ion-button (click)="removerBala()">-</ion-button>
        <input type="number" [(ngModel)] = quantidadeBala  (keyup)="calcularTotalConta()">
        <ion-button (click)="adicionarBala()">+</ion-button>
      </div>
    </div>

    <div class="linha resultado">
      
      <div>Total</div>
      <div id="red">{{ totalConta | currency: 'BRL' }}</div>
    </div>
<img src="../../assets/img/mcdonalds.png" alt="">
  </div>
</ion-content>
